<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>基本信息</title>
    <!--weui-jquery 样式-->
    <link rel="stylesheet" href="/stylesheets/weui.css">
    <link rel="stylesheet" href="/stylesheets/jquery-weui.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper.css">
    <link rel="stylesheet" href="/stylesheets/square.css">
    <style>
        .schoolcss {
            height: 500px;
        }

        .schoolcss .picker-items {
            height: 500px;
        }

        .schoolcss .picker-items-col:nth-child(1) {
            width: 30%;
            text-align: center;
        }

        .schoolcss .picker-items-col:nth-child(2) {
            width: 70%;
            text-align: center;
        }

        .hometowncss {
            height: 350px;
        }

        .hometowncss .picker-items {
            height: 350px;
        }

        .hometowncss .picker-items-col {
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
<article id="container" class="container" style="background-color: #eaeaea">
    <div class="cell">
        <div class="web-head">
            <h1>基本信息</h1>
        </div>

        <div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd">当前所登录公众号信息</div>
            <div class="weui_panel_bd">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" src="<%= media.avatar_image %>" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title"><%= media.name %></h4>
                        <p class="weui_media_desc"><%= media.school_name %></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd">请选择家乡</div>
            <div class="weui_panel_bd">

                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">家乡所在地</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="user-hometown" type="text"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="weui_cells">

            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <a href="javascript:;" id="subbasicinfo" class="weui_btn weui_btn_warn">确认(一旦确认,无法修改)</a>
                </div>
            </div>
        </div>


    </div>
</article>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-weui.min.js"></script>
<script src="/javascripts/city-picker.min.js"></script>

<script>

    $("#user-hometown").cityPicker({
        showDistrict: false,
        cssClass: "hometowncss",
        onClose: function (e) {
            var pid = province.indexOf(e.value[0]) + 1;
            var cid = citys.indexOf(e.value[1]) + 1;
            var hometown = {pid: pid, city: cid}

            $.ajax({
                type: "post",
                url: "/user/updateuserhometown",
                data: hometown,
                dataType: "json",
                success: function (redata) {
                    if (!redata)
                        $.toast("修改失败", "forbidden");
                },
                error: function () {
                    alert("网络错误");
                }
            });
        }
    });
</script>

<script src="/javascripts/school-picker.js"></script>

<script>

    //确认提交信息
    $("#subbasicinfo").on("click", function () {
        var hometown = $("#user-hometown").val();

        console.log(school);

        if (hometown.length != 0 ) {

            $.confirm({
                title: '确认提交?',
                text: "家乡:" + hometown,
                onOK: function () {
                    $.ajax({
                        type: "post",
                        url: "/user/confirmbasicinfo",
                        data: {column: "basicmodify", value: 0},
                        dataType: "json",
                        success: function (redata) {
                            if (redata.state) {
                                $.toast("提交成功", function () {
                                    window.location.href = "/";
                                });
                            } else {
                                $.toast("提交失败", "forbidden");
                            }
                        },
                        error: function () {
                            alert("网络错误");
                        }
                    });
                },
                onCancel: function () {
                }
            });

        } else {
            $.toast("请完整填写信息", "cancel");
        }

    });

</script>

</html>