<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>基本信息</title>
    <!--weui-jquery 样式-->
    <link rel="stylesheet" href="/stylesheets/weui.css">
    <link rel="stylesheet" href="/stylesheets/jquery-weui.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper.css">
    <link rel="stylesheet" href="/stylesheets/square.css">
    <style>
        .schoolcss {
            height: 500px;
        }

        .schoolcss .picker-items {
            height: 500px;
        }

        .schoolcss .picker-items-col:nth-child(1) {
            width: 30%;
            text-align: center;
        }

        .schoolcss .picker-items-col:nth-child(2) {
            width: 70%;
            text-align: center;
        }

        .hometowncss {
            height: 350px;
        }

        .hometowncss .picker-items {
            height: 350px;
        }

        .hometowncss .picker-items-col {
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
<article id="container" class="container" style="background-color: #eaeaea">
    <div class="cell">
        <div class="web-head">
            <h1>基本信息</h1>
        </div>

        <div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd">当前所登录公众号信息</div>
            <div class="weui_panel_bd">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" src="<%= media.avatar_image %>" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title"><%= media.name %></h4>
                        <p class="weui_media_desc"><%= media.school_name %></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd">请选择家乡</div>
            <div class="weui_panel_bd">

                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">家乡所在地</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="user-hometown" type="text"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="weui_cells">

            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <a href="javascript:;" id="subbasicinfo" class="weui_btn weui_btn_warn">确认(一旦确认,无法修改)</a>
                </div>
            </div>
        </div>


    </div>
</article>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-weui.min.js"></script>
<script src="/javascripts/city-picker.min.js"></script>

<script>

    var citys = ['北京市', '上海市', '天津市', '重庆市', '大庆市', '大兴安岭地区', '哈尔滨市', '鹤岗市', '黑河市', '鸡西市', '佳木斯市', '牡丹江市', '七台河市', '齐齐哈尔市', '双鸭山市', '绥化市', '伊春市', '白城市', '白山市', '吉林市', '辽源市', '四平市', '松原市', '通化市', '延吉市', '长春市', '鞍山市', '本溪市', '朝阳市', '大连市', '丹东市', '抚顺市', '阜新市', '葫芦岛市', '锦州市', '辽阳市', '盘锦市', '沈阳市', '铁岭市', '营口市', '滨州市', '德州市', '东营市', '菏泽市', '济南市', '济宁市', '莱芜市', '聊城市', '临沂市', '青岛市', '日照市', '泰安市', '威海市', '潍坊市', '烟台市', '枣庄市', '淄博市', '大同市', '晋城市', '晋中市', '临汾市', '吕梁市', '朔州市', '太原市', '忻州市', '阳泉市', '运城市', '长治市', '安康市', '宝鸡市', '汉中市', '商洛市', '铜川市', '渭南市', '西安市', '咸阳市', '延安市', '榆林市', '保定市', '沧州市', '承德市', '邯郸市', '衡水市', '廊坊市', '秦皇岛市', '三河市', '石家庄市', '唐山市', '', '邢台市', '张家口市', '安阳市', '鹤壁市', '济源市', '焦作市', '开封市', '洛阳市', '漯河市', '南阳市', '平顶山市', '濮阳市', '三门峡市', '商丘市', '新乡市', '信阳市', '许昌市', '郑州市', '周口市', '驻马店市', '鄂州市', '恩施市', '黄冈市', '黄石市', '荆门市', '荆州市', '潜江市', '十堰市', '随州市', '天门市', '武汉市', '仙桃市', '咸宁市', '襄阳市', '孝感市', '宜昌市', '常德市', '郴州市', '衡阳市', '怀化市', '吉首市', '娄底市', '邵阳市', '湘潭市', '益阳市', '永州市', '岳阳市', '张家界市', '长沙市', '株洲市', '海口市', '琼海市', '三亚市', '文昌市', '五指山市', '常州市', '淮安市', '连云港市', '南京市', '南通市', '苏州市', '泰州市', '无锡市', '宿迁市', '徐州市', '盐城市', '扬州市', '镇江市', '抚州市', '赣州市', '吉安市', '景德镇市', '九江市', '南昌市', '萍乡市', '上饶市', '新余市', '宜春市', '鹰潭市', '潮州市', '东莞市', '佛山市', '广州市', '河源市', '惠州市', '江门市', '揭阳市', '茂名市', '梅州市', '清远市', '汕头市', '汕尾市', '韶关市', '深圳市', '阳江市', '云浮市', '湛江市', '肇庆市', '中山市', '珠海市', '百色市', '北海市', '崇左市', '贵港市', '桂林市', '河池市', '贺州市', '柳州市', '南宁市', '钦州市', '梧州市', '玉林市', '保山市', '楚雄市', '大理市', '德宏州', '个旧市', '景洪市', '昆明市', '丽江市', '临沧市', '蒙自市', '普洱市', '曲靖市', '文山州', '玉溪市', '昭通市', '安顺市', '毕节市', '都匀市', '贵阳市', '凯里市', '六盘水市', '黔南州', '铜仁市', '兴义市', '遵义市', '巴中市', '成都市', '达州市', '德阳市', '甘孜州', '广安市', '广汉市', '广元市', '乐山市', '泸州市', '眉山市', '绵阳市', '南充市', '内江市', '攀枝花市', '遂宁市', '汶川县', '西昌市', '雅安市', '宜宾市', '资阳市', '自贡市', '阿拉善盟', '巴彦淖尔市', '包头市', '赤峰市', '鄂尔多斯市', '呼和浩特市', '呼伦贝尔市', '通辽市', '乌海市', '乌兰察布市', '锡林郭勒盟', '兴安盟', '固原市', '石嘴山市', '吴忠市', '银川市', '白银市', '定西市', '甘南州', '嘉峪关市', '金昌市', '酒泉市', '兰州市', '陇南市', '平凉市', '庆阳市', '天水市', '武威市', '张掖市', '西宁市', '拉萨市', '咸阳市', '阿克苏市', '阿拉尔市', '昌吉市', '和田市', '喀什地区', '克拉玛依市', '库尔勒市', '奎屯市', '石河子市', '乌鲁木齐市', '伊犁州', '伊宁市', '安庆市', '蚌埠市', '亳州市', '池州市', '滁州市', '阜阳市', '合肥市', '淮北市', '淮南市', '黄山市', '六安市', '马鞍山市', '铜陵市', '芜湖市', '宿州市', '宣城市', '杭州市', '湖州市', '嘉兴市', '金华市', '丽水市', '宁波市', '衢州市', '绍兴市', '台州市', '温州市', '舟山市', '福州市', '龙岩市', '南平市', '宁德市', '莆田市', '泉州市', '三明市', '厦门市', '漳州市']

    var province = ['北京', '上海', '天津', "重庆", '黑龙江', '吉林', '辽宁', '山东', '山西', '陕西', '河北', '河南', '湖北', '湖南', '海南', '江苏', '江西', '广东', '广西', '云南', '贵州', '四川', '内蒙古', '宁夏', '甘肃', '青海', '西藏', '新疆', '安徽', '浙江', '福建', '香港', '澳门', '台湾', '海外'];

    $("#user-hometown").cityPicker({
        showDistrict: false,
        cssClass: "hometowncss",
        onClose: function (e) {
            var pid = province.indexOf(e.value[0]) + 1;
            var cid = citys.indexOf(e.value[1]) + 1;
            var hometown = {pid: pid, city: cid}

            $.ajax({
                type: "post",
                url: "/user/updateuserhometown",
                data: hometown,
                dataType: "json",
                success: function (redata) {
                    if (!redata)
                        $.toast("修改失败", "forbidden");
                },
                error: function () {
                    alert("网络错误");
                }
            });
        }
    });
</script>

<script src="/javascripts/school-picker.js"></script>

<script>

    //确认提交信息
    $("#subbasicinfo").on("click", function () {
        var hometown = $("#user-hometown").val();

        if (hometown.length != 0 ) {

            $.confirm({
                title: '确认提交?',
                text: "家乡:" + hometown,
                onOK: function () {
                    $.ajax({
                        type: "post",
                        url: "/user/confirmbasicinfo",
                        data: {column: "basicmodify", value: 0},
                        dataType: "json",
                        success: function (redata) {
                            if (redata.state) {
                                $.toast("提交成功", function () {
                                    window.location.href = "/";
                                });
                            } else {
                                $.toast("提交失败", "forbidden");
                            }
                        },
                        error: function () {
                            alert("网络错误");
                        }
                    });
                },
                onCancel: function () {
                }
            });

        } else {
            $.toast("请完整填写信息", "cancel");
        }

    });

</script>

</html>