<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>活动列表</title>
    <!--weui-jquery 样式-->
    <link rel="stylesheet" href="/stylesheets/weui.css">
    <link rel="stylesheet" href="/stylesheets/jquery-weui.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper.css">
    <link rel="stylesheet" href="/stylesheets/square.css">
</head>
<body>
<article id="container" class="container">
    <div class="redirect-nav">
        <ul>
            <li class="redirect-nav-subleft"><img class="backimg" src="/images/back.png" alt=""></li>
            <li class="redirect-nav-subleft"><a href="/">返回</a></li>
        </ul>

    </div>
    <div class="weui_panel weui_panel_access">

        <div class="weui_cells weui_cells_access">
            <% for(var i = 0; i < joiners.length; i++){ %>
            <a class="weui_cell" href="<%= "/user/userpage/"+joiners[i].openid%>">
                <div class="weui_cell_hd"><img id="headimg"
                                               src=<%= joiners[i].headimgurl %>
                                               alt="" style="width:40px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p><%= joiners[i].nickname %></p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <% } %>
        </div>
    </div>


</article>
</body>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery-weui.min.js"></script>

<script>

</script>

</html>