body{
  font-family: "Microsoft Yahei", "helvetica", "Arial";
  background-color: #f0f0f0;
}
.container{
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: #ffffff;
  width: 944px;
}

ul{
  padding-left: 0;
}

.wx-menu{
  height: 31px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.wx-menu ul{
  height: 30px;
  border-bottom: 1px solid #e7e7eb;
}
.wx-menu li{
  float: left;
  display: inline-block;
}
.wx-menu li a{
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-size: 14px;
}
.wx-menu li a.active {
  color: #35b36a;
  border-bottom: #35b36a 2px solid;
}

.content{
  height: 800px;
}
.content > section{
  margin-left: 20px;
  display: none;
}

table{
  width: 96%;
  table-layout : fixed;
}
tr{
  height: 40px;
  text-align: center;
}
td,th{
  border: none;
}
.td-0{
  background-color: #f0f8ff;
}
.table-head{
  color: #ffffff;
  background-color: #35b36a;
}

#users-table img{
  height: 40px;
  width: 40px;
}

select{
  width: 240px;
  height: 34px;
  font-size: 16px;
  overflow: hidden;
  color: #fff;
  border:solid 2px #35b36a;
  background-color: #35b36a;

  margin-bottom: 10px;
}

.hint-title{
  color: #ff5f12;
}