header{
  height: 300px;
  width: 100%;
  background-image: url("/images/schometown.jpg");
  background-size: cover;
}

header > h1{
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin: 120px auto;
}

h1 > span{
  font-size: 0.75em;
  font-style: italic;
}

#mediaabout h1{
  font-size: 2em;
  color: #09BB07;
  text-align: center;
}

#mediaabout p{
  text-align: center;
}
