$green:#09BB07;
$blue:#56abe4;
$yellow:#f4c600;
$gray:#eaeaea;
$red:#F13838;


#friends-tab{
  display: none;
}
#me{
  background-color: $gray;
}
#square{
  background-color: $gray;
}
#friends-weibo{
  background-color: $gray;
}
#friends-hometown-cells{
  margin-top: 0;
}
.activity-time{
  font-size: 1.5em;
}
.web-head,.page_title{
  color: $green;
  font-size: 1.5em;
  text-align: center;
  padding-top: 20px;
}

#friends-good-list{
  margin-top: 0;
}
#friends-hometown-list{
  margin-top: 0;
}
#share{
  margin-bottom: 55px;
}
#sharebtn{
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 7px 0 0;
  -webkit-tap-highlight-color: transparent;
}
.weibocontent_imgs{
  margin-top: 8px;
}
.weibocontent_imgs > img{
  width: 33%;
  float: left;
}
#weibocell_ft:after{
  transform:rotate(135deg);
  -webkit-transform:rotate(135deg)
}
/*首页幻灯*/
.squareswiper, .squareswiper-wrapper, .squareswiper-slide{
  height: 120px;
}
.squareswiper-slide img{
  height: 120px;
  width: 100%;
}

/* 顶部导航栏 */
 .redirect-nav{
   background: #393A3F;
   height: 40px;
 }
.redirect-nav li{
  list-style: none;
  height: 40px;
  margin: auto 3px;
}
.redirect-nav a{
  text-decoration: none;
  color: #ffffff;
  line-height: 40px;
}

.redirect-nav-subleft{
  float: left;
}
.redirect-nav-subright{
  float: right;
  height: 40px;
}
.backimg{
  height: 28px;
  width: 28px;
  margin-top: 6px;
}
/* 顶部导航栏  end */